<ion-content [fullscreen]="true" [scrollY]="false">
  <img src="/assets/icons/i_info.svg" class="top-info-icon" (click)="showInfo()" alt="Info" />
  <h1 class="page-title">{{ mapTitle() }}</h1>

@if (showMap()) {
    <pinch-zoom class="map-zoom-container">
      <div class="map-container" 
           [innerHTML]="svgContent()" 
           (click)="onMapClick($event)">
      </div>
    </pinch-zoom>
  }

  <div class="floor-selector">
    @for (floor of currentFloors(); track floor) {
      <button
        class="floor-btn"
        [class.active]="currentFloor() === floor"
        (click)="selectFloor(floor)">
        {{ floor }}
      </button>
    }
  </div>

  <button class="mode-toggle-btn" (click)="toggleMode()">
    {{ currentMode() }}
  </button>

  <app-assistant-cat></app-assistant-cat>

  @if (isModalOpen() && roomData()) {
  <div class="custom-info-card">
    <div class="card-header">
      <h3>{{ roomData().name }}</h3>
      <button class="close-btn" (click)="closeRoomModal()">×</button>
    </div>
    <div class="card-content">
      <p><strong>Категория:</strong> {{ roomData().category }}</p>
      <p><strong></strong> {{ roomData().description }}</p>
    </div>
  </div>
}

@if (isModalOpen()) {
  <div class="backdrop" (click)="closeRoomModal()"></div>
}

</ion-content>
