MIU_SCHEDULE_BASE_API_URL=ССЫЛКА_НА_API_РАСПИСАНИЯ
MIU_SCHEDULE_API_USERNAME=ЛОГИН_ДЛЯ_ДОСТУПА_К_API_РАСПИСАНИЯ
MIU_SCHEDULE_API_PASSWORD=ПАРОЛЬ_ДЛЯ_ДОСТУПА_К_API_РАСПИСАНИЯ
REDIS_CONNECTION_URL=ССЫЛКА_НА_REDIS
MIU_API_LOGIN_URL=ССЫЛКА_НА_ЛОГИН_В_API_ЛИЧНОГО_КАБИНЕТА
MIU_API_ACCOUNT_URL=ССЫЛКА_НА_API_ЛИЧНОГО_КАБИНЕТА
ALLOW_ORIGINS=ALLOW_ORIGINS_URLS
LOG_LEVEL=ВАШ_УРОВЕНЬ_ЛОГИРОВАНИЯ[DEBUG,INFO,WARN,ERROR]