<ion-content [fullscreen]="true">
  <div class="schedule-content">
    
    <h1 class="page-title">Четная неделя</h1>

    <div class="schedule-block">
      
      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">1</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">9:00-10:20</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">2</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">10:30-11:50</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">3</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">12:30-13:50</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">4</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">14:20-15:40</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">5</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">16:10-17:30</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

      <div class="lesson-item">
        <div class="lesson-number-wrapper">
          <div class="lesson-number">6</div>
        </div>
        <div class="lesson-text">
          <div class="lesson-time">17:40-19:00</div>
          <div class="lesson-title">Проектирование ИТ- инфраструктуры (Лек.)</div>
          <div class="lesson-subtitle">Главный корпус/210(л) – Кромский Г.А.</div>
        </div>
      </div>

    </div>

    <div class="days-nav-wrapper">
<button class="nav-arrow-btn" type="button">
    <ion-icon name="caret-back" class="nav-arrow"></ion-icon>
  </button>      
      <div class="days-group">
        <button class="day-btn active" type="button">Пн</button>
        <button class="day-btn" type="button">Вт</button>
        <button class="day-btn" type="button">Ср</button>
        <button class="day-btn" type="button">Чт</button>
        <button class="day-btn" type="button">Пт</button>
        <button class="day-btn" type="button">Сб</button>
      </div>
      
<button class="nav-arrow-btn" type="button">
    <ion-icon name="caret-forward" class="nav-arrow"></ion-icon>
  </button>
    </div>

  </div>
</ion-content>