<ion-content [fullscreen]="true">
  <div class="schedule-content">

    <div class="header-container">
      <h1 class="main-title">{{ weekType() }}</h1>
      <p class="date-subtitle">{{ dateRange() }}</p>
    </div>

    <div class="schedule-block">

      @if (isLoading()) {
        <div class="loader-wrapper">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      }

      @if (!isLoading() && errorMessage()) {
        <div class="empty-state-wrapper">
          <p>{{ errorMessage() }}</p>
        </div>
      }

      @if (!isLoading() && !errorMessage() && lessons().length === 0) {
        <div class="empty-state-wrapper">
          <p>На этот день расписания нет</p>
        </div>
      }

      @if (!isLoading() && !errorMessage() && lessons().length > 0) {
        @for (lesson of lessons(); track lesson.beginLesson + lesson.discipline; let i = $index) {
          <div class="lesson-item">
            <div class="lesson-number-wrapper">
              <div class="lesson-number">{{ i + 1 }}</div>
            </div>
            <div class="lesson-text">
              <div class="lesson-time">{{ lesson.beginLesson }} – {{ lesson.endLesson }}</div>
              <div class="lesson-title">{{ lesson.discipline }}</div>
              @for (prof of lesson.listOfLecturers; track prof.lecturer + prof.auditorium) {
                <div class="lesson-subtitle">
                  {{ prof.auditorium }} – {{ prof.lecturer }}
                </div>
              }
              <div class="lesson-type">
                {{ lesson.kindOfWork }}
              </div>
            </div>
          </div>
        }
      }

    </div>
  </div>
</ion-content>
<ion-footer>
  <app-assistant-cat></app-assistant-cat>
  <div class="days-nav-wrapper">
    <button class="nav-arrow-btn" type="button" (click)="prevWeek()">
      <ion-icon name="caret-back" class="nav-arrow"></ion-icon>
    </button>

    <div class="days-group">
      @for (day of weekDays(); track day.name + day.date.getTime(); let i = $index) {
        <button
          class="day-btn"
          [class.active]="activeDayIndex() === i"
          (click)="selectDay(i)"
          type="button">
          {{ day.name }}
        </button>
      }
    </div>

    <button class="nav-arrow-btn" type="button" (click)="nextWeek()">
      <ion-icon name="caret-forward" class="nav-arrow"></ion-icon>
    </button>
  </div>

</ion-footer>
