<ion-content class="login-content">
  <div class="yellow-card">
    <h1>МОСКОВСКИЙ<br>МЕЖДУНАРОДНЫЙ<br>УНИВЕРСИТЕТ</h1>

    <div class="input-wrapper">
      <input type="text" placeholder="Логин" [ngModel]="username()" (ngModelChange)="username.set($event)">
    </div>

    <div class="input-wrapper">
      <input type="password" placeholder="Пароль" [ngModel]="password()" (ngModelChange)="password.set($event)">
    </div>

    <button class="login-btn" (click)="login()">Вход</button>

    <p class="error-text">{{ error() }}</p>
  </div>
</ion-content>
