<ion-content class="ion-padding" [scrollY]="true">
  <div class="about-container">
    <div class="about-header">
      <h1 class="app-main-title">ММУ - Цифровой куратор</h1>
      <p class="app-subtitle">Команда "Слепые котята"</p>
    </div>

    <div class="about-info">
      <p>Версия 1.0.0</p>
    </div>

    <div class="contact-block">
      <h3 class="contact-title">Контакты</h3>
      <div class="contact-list">
        <p>Деканат: <a href="mailto:dekanat@mmu.ru">dekanat&#64;mmu.ru</a></p>
        <p>Деканат ДОТ: <a href="mailto:dot@mmu.ru">dot&#64;mmu.ru</a></p>
        <p>Слушатели: <a href="mailto:dpo.mmu@mail.ru">dpo.mmu&#64;mail.ru</a></p>
        <p>Практика: <a href="mailto:praktika@mmu.ru">praktika&#64;mmu.ru</a></p>
        <p>Доп. соглашение: <a href="mailto:oplata@ex-edu.ru">oplata&#64;ex-edu.ru</a></p>
      </div>
      <p class="contact-warning">Чтобы получить ответ обязательно указывайте тему письма, ФИО и учебную группу.</p>
    </div>

    <div class="about-footer">
      <button class="action-copy-btn" (click)="openLink('https://mi.university')">
        САЙТ УНИВЕРСИТЕТА
      </button>
    </div>
  </div>
</ion-content>
