<ion-content [fullscreen]="true" [scrollY]="false" [scrollX]="false">
  <img src="/assets/icons/i_info.svg" class="top-info-icon" (click)="showInfo()" alt="Info" />
<h1 class="page-title">{{ mapTitle }}</h1>
  <!-- Контейнер-холст на весь экран -->

    
    <!-- Карта -->
    <pinch-zoom class="map-zoom-container" *ngIf="showMap">
      <div class="map-viewport">
  <!-- Добавляем wrapper с отступом -->

    <img [src]="getMapImage()" class="map-image" alt="Карта" />

  </div>
</pinch-zoom>
 <!-- Выбор этажей (справа по центру) -->
<div class="floor-selector">
  <button 
    *ngFor="let floor of currentFloors" 
    class="floor-btn" 
    [class.active]="currentFloor === floor"
    (click)="selectFloor(floor)">
    {{ floor }}
  </button>
</div>

    <!-- Кнопка переключения ГК/ЗП (снизу справа) -->
    <button class="mode-toggle-btn" (click)="toggleMode()">
      {{ currentMode }}
    </button>

<app-assistant-cat></app-assistant-cat>

</ion-content>